.cdh_message {
  color: $g-color-black;
  font-size: units(2);
}
.cdh_message-alert {
  color: $g-color-dark-red;
  font-size: units(1.5);
}
.cdh_message-action {
  color: $g-color-blue;
  font-size: units(1.5);
}
.cdh_input {
  flex: 1;
  margin-bottom: units(1);
  label {
    color: $g-color-dark-gray;
    font-size: units(1.5);
    flex: 0 1 auto;
  }
  input {
    border: solid 1px $g-color-gray;
    border-radius: units(0.5);
    height: units(3)+units(0.5);
    padding: 0;
    margin-right: units(0.5);
  }
  input[type="text"], input[type="search"], select {
    flex: 1;
    width: 100%;
  }
  input[type="checkbox"] {
    width: units(1.5);
    margin-right: units(0.5);
    margin-left: 0;
  }
  textarea {
    width: 100%;
    height: units(5);
    font-size: units(1.5);
  }
  ::-webkit-input-placeholder { /* Edge */
    color: $g-color-dark-gray;
    font-size: units(1.5);
    padding-left: units(1);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $g-color-dark-gray;
    font-size: units(1.5);
    padding-left: units(1);
  }
  
  ::placeholder {
    color: $g-color-dark-gray;
    font-size: units(1.5);
    padding-left: units(1);
  }
  button {
    width: units(15);
    margin-right: units(0.5);
    border-radius: units(0.5);
    border-color:$g-color-gray;
    border-width: 1px;
    height: units(3)+units(0.5);
    font-weight: normal;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
    &:hover {
      border-color: $g-color-navy;
      font-weight: bold;
    }
    &:disabled {
      border-color: $g-color-gray;
      font-weight: normal;
      color: $g-color-gray;
    }
  }
}
.cdh_input-disable {
  input {
    color: $g-color-black;
    font-weight: normal;
    border: solid 0px transparent;
  }
}
.cdh_input-checkbox {
  margin-bottom: units(1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  span {
    color: $g-color-dark-gray;
    font-size: units(1.5);
    margin-left: units(0.5);
    margin-right: units(2);
  }
  input {
    border: solid 1px $g-color-gray;
    border-radius: units(0.5);
  }
}
.cdh_input-alert {
  input, select, ul, textarea {
    border: solid 1px $g-color-red;
    border-radius: units(0.5);
  }
}
.cdh_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      font-size: units(2);
      margin-bottom: units(0.5);
      input{
        margin-right: units(0.5);
      }
    }
  }
}