.cdh_row {
  display: flex;
  flex-direction: row;
  align-content: center;
  &.cdh_row_wrap {
    flex-wrap: wrap;
  }
  &.cdh_row_justify-start {
    justify-content: flex-start;
  }
  &.cdh_row_justify-center {
    justify-content: center;
  }
  &.cdh_row_justify-end {
    justify-content: flex-end;
  }
  &.cdh_row_justify-space-between {
    justify-content: space-between;
  }
  &.cdh_row_align-center {
    align-content: center;
    align-items: center;
  }
  &.cdh_row_align-stretch {
    align-content: stretch;
  }
}
.cdh_column {
  display: flex;
  flex-direction: column;
  &.cdh_column_width-100 {
    width: 100%;
  }
  &.cdh_column_width-90 {
    width: 90%;
  }
  &.cdh_column_max-width-card {
    max-width: units('card');
  }
  &.cdh_column_max-width-card-lg {
    max-width: units('card-lg');
  }
  &.cdh_column_max-width-mobile {
    max-width: units('mobile');
  }
  &.cdh_column_max-width-mobile-lg {
    max-width: units('mobile-lg');
  }
  &.cdh_column_max-width-tablet {
    max-width: units('tablet');
  }
  &.cdh_column_max-width-tablet-lg {
    max-width: units('tablet-lg');
  }
  &.cdh_column_max-width-desktop {
    max-width: units('desktop');
  }
}

