.projects_wrapper {
  background-color: $g-color-background;
  .projects_controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: units(3);
    padding-top: units(1);
    padding-left: units(1.5);
    padding-bottom: units(0.5);
  }
}